#Auto line endings for all text files
* text=lf

#Treat example folder as documentation folder (for GitHub stats)
example/* linguist-documentation

#Treat min.js files as binaries. They are compressed js files
*min.js binary
